TELEGRAM_BOT_TOKEN=1234567890:replace_with_your_bot_token
TELEGRAM_CHAT_ID=replace_with_your_chat_id
WEATHER_BOT_TITLE=우현님을 위한 아침 보고
EVENING_REPORT_TITLE=우현님을 위한 내일 보고
GOOGLE_CALENDAR_ICAL_URL=https://calendar.google.com/calendar/ical/example/private-example/basic.ics
